.mobile-header-sec h1 {
    font-weight: bold;
}
.mobile-header-sec{
        background-color: #6f18ff;
}
.mobile-header-sec h1 {
    font-size: 22px;
    font-size: 1.375rem;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}