<div class="footer-menu-sec cf">
    <ul class="d-flex justify-content-between">
        <li>
            <a href="" class="{{isAcitveHome}}">
                <i class="icon-home"></i>
                <small>Home</small>
            </a>
        </li>
        <li>
            <a href="/my-activities" class="{{isAcitveCalendar}}">
                <i class="icon-calendar-r"></i>
                <small>Calendar</small>
            </a>
        </li>
        <li>
            <a href="/my-inbox" class="{{isAcitveInbox}}">
                <i class="icon-email-icon"></i>
                <small>Inbox</small>
            </a>
        </li>
        <li>
            <a href="/profile-menu-mobile" class="{{isAcitveMenu}}">
                <i class="icon-bar-icon"></i>
                <small>Menu</small>
            </a>
        </li>
    </ul>
</div>